.app {
    display: flex;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    flex-direction: column;
}

.calculation {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 20px;
}

.show-result {
    height: 40px;
    flex: 1;
}

.dashed-line {
    height: 2px;
    flex: 1;
    border-bottom: 1px dashed black;
}

.btn-layout {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.button-display {
    flex-basis: 25%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.result {
    display: flex;
    justify-content: right;
}